.lista-usuario {
        gap: 1rem;
        padding: 1rem;
}

/* On small screens, ensure list items take full width and stack */
@media (max-width: 600px) {
    .lista-usuario{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}